@import "src/variables-css/variables.css";

/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
 */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
width: 100%;
margin-top: 15px;
}
.navbar {
    display: flex;
    background: #FFF;
    width: 90%;
    text-align: center;
}
.navlink {
    width: 10%;
    color: var(--main-color);
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    text-decoration: none;
    margin-top: 38px;
}  
.navlink:hover {
    font-size: 20px;
    text-wrap: nowrap;
}
.navlink:first-child{
    margin-left:130px;
    margin-right: 40px;
}
.casita {
    width: 3%;
    height: 3%;
    margin-top: 38px ;
}
.casita:hover{
    width: 3.02%;
}
